:root {
    --color-primary: #2b2b2b;
    --color-secondary: #767676;
    --color-thirdy: #ffb400;
    --color-thirdy-hover: #e4a102;
}

body {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    background: #f0f0f6;
}
.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.text-center {
    text-align: center;
}
.w-1\/2 {
    width: 50%;
}
@media (min-width: 768px) {
    .wrapper {
        grid-template-columns: 300px auto 100px;
    }
}
aside {
    border: 1px solid #000;
}
main {
    border: 1px solid #000;
}
nav {
    border: 1px solid #000;
}
/* ======= ICON ======= */
.icon {
    display: inline-block;
    margin: 0 5px;
    width: 24px;
    height: 24px;
    color: var(--color-primary);
}
.icon-sm {
    width: 16px;
    height: 16px;
}
/* ======= BUTTON ===== */
.btn {
    background: #fff;
    color: var(--color-primary);
    border: 1px solid transparent;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-flex;
}
.btn-lg {
    padding: 15px 30px;
}
.btn-primary {
    background: var(--color-thirdy);
    color: var(--color-primary);
    border: 1px solid var(--color-thirdy);
}
.btn-primary:hover {
    background: var(--color-thirdy-hover);
}
.rounded-sm {
    border-radius: 5px;
}
.rounded-full {
    border-radius: 100%;
}
/* =========== HERO ============ */
.hero {
    background: #fff;
    padding: 20px 60px 0 60px;
}
.hero-row {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
}
.hero__img {
    margin: auto;
}
.hero__heading {
    font-size: 48px;
    color: var(--color-primary);
    line-height: 123.6%;
    margin: 0;
    padding: 0;
}
.hero__position {
    color: var(--color-thirdy);
}
.hero__desc {
    line-height: 24px;
    color: var(--color-secondary);
    margin: 17px 0 40px 0;
}
.hero__link {
    text-transform: uppercase;
    display: inline-flex;
    align-items: center;
}

@media (min-width: 768px) {
    .hero-row {
        grid-template-columns: 1fr 1fr;
    }
}

/* ======= SECTION ====== */
.section-heading {
    margin: auto;
    padding: 45px 0;
}
.section-heading__title {
    font-size: 32px;
    font-weight: bold;
    color: var(--color-primary);
    margin: 0;
    padding: 0;
}
.section-heading__desc {
    font-size: 15px;
    color: var(--color-secondary);
    line-height: 24px;
}

/* ========= SERVICES ========= */
.services-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}
.services-col {
    background: #fff;
}
.services__img {
    margin: auto;
}
